@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

.oswald {
    font-family: "Oswald", sans-serif;
}

.loader {
    position:relative;
    z-index: 60;
    border: 8px solid #F4FDFD; /* Light grey */
    border-top: 8px solid #FF4B74; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s ease-in-out infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }